.h-header__menu
	font-weight: 700
	font-size: 13px
	&--list
		list-style-type: none
		display: flex
	&--item
		padding-right: 18px
	&--item > a
		color: $t-silver
		text-transform: uppercase
		text-decoration: none
	&--active
		color: $bgc-seagreen!important
